$supple-space-base: 0.75rem;
$supple-space-small: $supple-space-base / 2;
$supple-space-tiny: $supple-space-base / 4;
$supple-space-large: $supple-space-base * 2;
$supple-space-huge: $supple-space-base * 4;
