/*  =========================================================================
    elements.typography
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

html {
  font-family: $font-family-base;
  color: $color-black;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: $font-family-heading;
}

p {
  max-width: 75ch;
}
